    <h3 id="reference-endpoints">API Endpoints</h3>

    <p>The following endpoints are available for use:</p>
    <label for="collectionSelecter">You can select a collection from the drop-down to auto-fill the collection_identifier (or "nickname").</label>
    <select id="collectionSelecter">
        <option value="null"> --- Select a collection ---</option>
        {% for collection in data.collections %}
        <option value="{{ collection.collection_id }}">{{ collection.title }}</option>
        {% endfor %}
    </select>

    <div class='table-wrap'>
        <table id="endpointsTable">
            <tbody>
            <tr>
                <th>Method</th>
                <th>Endpoint</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
            {% for endpoints in data.endpoints %}
            <tr>
                <td>{{ endpoints.method }}</td>
                <td>{{ endpoints.endpoint }}</td>
                <td>{{ endpoints.description }}</td>
                <td>
                    {% if endpoints.status == 1 %}
                    <span class="label label-success"><i class="fa fa-power-off online"></i> Online</span>
                    {% else %}
                    <span class="label label-danger"><i class="fa fa-power-off online"></i> Offline</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <h3 id="reference-collections">Collections</h3>

    <div class="docsOverflowBox" id="collectionsOverflowBox">
        <table>
            <tbody>
            <tr>
                <th>Collection ID</th>
                <th>Collection Name</th>
            </tr>
            {% for collection in data.collections %}
            <tr>
                <td>{{ collection.collection_id }}</td>
                <td>{{ collection.title }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="span3 pull-right">
            <button class="dl-btn-sm docsOverflowExpand" id="collectionsOverflowBoxController">Expand/Contract Area
            </button>
        </div>
    </div>

    <h3 id="reference-fields">Fields</h3>

    <p>To view more about our metadata terms please <a href="{{ base_url }}/terms">view this page.</a></p>

    <div class="docsOverflowBox" id="fieldsOverflowBox">
        <table>
            <tbody>
            <tr>
                <th>Field Label</th>
                <th>Api Field</th>
                <th>Mapping Documentation</th>
            </tr>
            {% for key,object in data.api_fields %}
                {% for obj in object %}
                <tr>
                    <td>{{ obj.label }}</td>
                    <td>{{ key }}</td>
                    <td><a href="{{ obj.iri }}" target="_blank">{{ obj.iri }}</a></td>
                </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="span3 pull-right">
            <button class="dl-btn-sm docsOverflowExpand" id="fieldsOverflowBoxController">Expand/Contract Area</button>
        </div>
    </div>

    <h3 id="reference-search-params">Search Parameters</h3>
    <p>The open collections <code>{{ data.search_endpoint }}</code> endpoint accepts the following paremeters in GET requests:</p>
    <table>
        <tbody>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
            <th>Default Value</th>
            <th>Notes</th>
        </tr>
        {% for key,obj in data.api_params %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ obj.description | capitalize }}</td>
                <td>{{ obj.default }}</td>
                <td>{{ obj.notes | capitalize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3 id="reference-output-formats">Output Formats</h3>

    <p>Responses from the API are returned in JSON by default however there are a number of different formats available which we will show you how
        to request for below.</p>

    <h4>GET Requests</h4>
    <p>
        For GET requests you should replace
        <ins>:outputFormat</ins>
        in the URL below with the format you want returned:<br/>
        <a>{{ data.api_url }}/collections/
            <ins>[:name]</ins>
            /items/
            <ins>[:itemId]</ins>
            /output-format/
            <ins>[:outputFormat]</ins>
        </a>
    </p>

    <h4>POST Requests</h4>
    <p>
        For POST requests you should set the
        HTTP <ins>Accept</ins>
        header to the format you want returned.
    </p>
    <h4>Available Formats</h4>
    <div class='table-wrap'>
        <table>
            <tbody>
            <tr>
                <th>Description</th>
                <th>GET Value</th>
                <th>POST Value</th>
            </tr>
            {% for key, object in data.api_output_formats %}
            <tr>
                <td>{{object['description']|capitalize}}</td>
                <td>{{key}}</td>
                <td>{{object['content-type']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
